#commitments{
    padding: 168px 0;
}


.commitments__block {
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.commitments__img {
    margin-right: 110px;
    flex-shrink: 0;
}


.commitments__content {
    max-width: 540px;
}

.commitments__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-bottom: 32px;
}

.commitments__text {
    font-family: $font2;
    ;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(51, 61, 75, 0.8);
}

@media screen and (max-width:960px) {

    #commitments{
        padding: 144px 0;
    }
    .commitments__img {
        border-radius: 10px;
        overflow: hidden;
        height: 470px;
        max-width: 281px;
    }

    .commitments__content {
        max-width: 339px;
    }

    .commitments__title {
        font-weight: 900;
        font-size: 28px;
        line-height: 44px;
        margin-bottom: 30px;
    }

    .commitments__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width:690px) {

    #commitments{
        padding: 120px 0;
    }
    .commitments__block {
        flex-direction: column;
    }

    .commitments__content {
        max-width: 400px;
        text-align: center;
    }

    .commitments__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
    }

    .commitments__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }

    .commitments__img {
        margin-right: 0;
        max-width: 500px;
        height: auto;
        margin-bottom: 48px;
    }
}